.eda-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  overflow: hidden;
}

.list-container {
  width: 100%;
  overflow: hidden;
  margin-left: -10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.list-container .title {
  width: 25%;
  text-align: right;
  margin-right: 5%;
}

.list-container .description {
  font-size: 0.9rem;
  overflow: hidden;
  width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-container .checkbox {
  margin: 0px;
}