.container {
  width: 100%;
}

.list-container {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.list-container .title {
  width: 30%;
}

.list-container .input {
  width: 70%;
}