.menu-container {
  width: 100%;
  max-width: 600px;
}

.menu-container .child {
  background-color: gray;
}

.wheel-only-menu {
  margin-top: 40px;
}

.label {
  margin-bottom: 5px;
  font-size: 13px;
  color: rgb(50,50,50)
}